<div class="section-row" id="login">
  <div class="container vh-100 align-content-center">
    <form id="login-form">
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <label for="username">Username</label>
      <input type="text" class="form-control" id="username" aria-describedby="username" placeholder="Username">

      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" aria-describedby="password" placeholder="Password" autocomplete="current-password">

      <label for="domain">Domain</label>
      <input type="text" class="form-control" id="domain" aria-describedby="domain" placeholder="Domain">

      <span id="session" class="form-text d-block text-white">
        The session is active for 7 days
      </span>

      <button class="btn btn-primary w-100 py-2" id="" type="submit">Sign in</button>
    </form>
  </div>
</div>