<div class="modal fade" id="DownloadStation" data-bs-backdrop="static" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content bg-dark text-white">
      <div class="modal-header">
        <h2 class="modal-title fs-5" id="staticBackdropLabel">Download Station</h1>
        <button type="button" class="btn-close text-white" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form id="url-form">
          <label for="animeUrl" class="form-label">URL</label>
          <input type="text" class="form-control" id="animeUrl" placeholder="Added url">
          <label for="animePath" class="form-label">Folder</label>
          <input type="text" class="form-control" id="animePath" placeholder="Added folder">
          <button type="submit" id="downloadAnime" class="btn btn-primary">Download</button>
        </form>

        <button type="button" id="initScraping" class="btn btn-link text-white">Scraping AnimeFLV</button>

        <div class="row row-30"></div>
      </div>
    </div>
  </div>
</div>